<div class="row movie-detail">
  <h2 class="movie-title">{{ title }}</h2>
  <div class="col-md-6">
    <div class="metadata clearfix">
      <small class="tagline-item" data-js="score"><strong>Score:</strong> <span>{{to-percentage score}}</span></small>
      <small class="tagline-item" data-js="release-date"><strong>Release Date:</strong> <span>{{to-date release}}</span></small>
    </div>
    <div class="thumbnail">
      <div class="image"></div>
    </div>
  </div>

  <div class="col-md-6" data-js="actors-list">
    <h3>Cast</h3>
    <div class="row">
      {{#each actors}}
        <div class="col-md-4 list-item">
          <div class="thumbnail">
            <div class="image"></div>
            <span class="list-item-title">
              {{ name }}
              <small>{{ age }} years old</small>
            </span>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>